{%  extends "base.html" %}
{% load static %}


{% block title %}
    Home - Gallery
{% endblock %}

{% block linkrel %}
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
{% endblock %}
<!DOCTYPE html>

{% block content %}

    <header id="marketplace" class="hero-section">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center text-white">
                    <h1 class="fw-bold display-4">GALLERY</h1>
                    <p class="lead">HÌNH ẢNH CÁC HOẠT ĐỘNG
                    </p>
                </div>
            </div>
        </div>
    </header>
    </div>

    <div class="album">
        <div class="responsive-container-block bg">
          <div class="responsive-container-block img-cont">
            <img class="img" src="https://github.com/Jiangau/pcs/blob/main/img/Screenshot%202024-11-21%20at%2023.02.13.png?raw=true">
            <img class="img" src="https://static-media-cdn.mekongasean.vn/stores/news_dataimages/mekongaseanvn/042022/15/00/nghe-dong-nat-2252.jpg">
            <img class="img img-last" src="https://static.tuoitre.vn/tto/i/s626/2016/11/02/234a322b.jpg">
            
          </div>
          <div class="responsive-container-block img-cont">
            <img class="img img-big" src="https://photo.znews.vn/w660/Uploaded/wyhktpu/2022_10_09/z3782275869021_358bcfde762abfb1134c60dfe90cee49_1.jpg">
            <img class="img img-big img-last" src="https://thanhtri.hanoi.gov.vn/documents/2623109/5905521/VP.jpg/b179f468-970f-4330-b297-61a960a9e019?t=1690525800751">
          </div>
          <div class="responsive-container-block img-cont">
            <img class="img" src="https://tapchigiaothong.qltns.mediacdn.vn/zoom/600_315/tapchigiaothong.vn/files/thu.ha/2018/05/13/chai-nhua-5033-1526181816-2047.jpg">
            <img class="img" src="https://watermark.lovepik.com/photo/20211203/large/lovepik-man-holding-a-plastic-bottle-picture_501481123.jpg">
            <img class="img" src="https://cdn.tuoitre.vn/zoom/700_525/2021/3/27/164353139441592397116798873818489439168876n-161684991871782464462-crop-16168504432971252918055.jpg" height=125>
          </div>
        </div>
      </div>
      </div>

      

{% endblock %}
   
